$red: #b83d2b;
$red-darker: #a03b30;
$orange: #dd6144;
$orange-darker: #c75d45;
$yellow: #fac972;
$yellow-darker: #dab069;
$aqua: #a3cfcf;
$aqua-darker: #93bbbb;
$navy: #233774;
$navy-darker: #141c35;
$gray: #a8a8a8;
$gray-lighter: #f4f4f4;
$gray-darker: #706c6c;
$wheat: #f9f3ea;
$wheat-darker: #e4dbcd;
$white: white;
$black: black;

$extra-large: 100px;
$large: 60px;
$medium: 40px;
$small: 20px;
$extra-small: 10px;

$small-font: 12px;
$medium-font: 16px;
$large-font: 24px;

@mixin mt-0 {
    margin-top: 10px;
}
@mixin mt-1 {
    margin-top: 20px;
}
@mixin mt-2 {
    margin-top: 40px;
}
@mixin mt-3 {
    margin-top: 60px;
}
@mixin mt-4 {
    margin-top: 80px;
}
@mixin mt-5 {
    margin-top: 100px;
}

@mixin m-lr($margin) {
    margin-left: $margin;
    margin-right: $margin;
}

@mixin transition-1 {
    transition: .3s;
}
@mixin transition-2 {
    transition: .5s;
}