$red: #b83d2b;
$red-darker: #a03b30;
$orange: #dd6144;
$yellow: #fac972;
$aqua: #a3cfcf;
$navy: #233774;
$gray: #a8a8a8;
$gray-lighter: #a8a8a8;
$wheat: #f9f3ea;
$white: white;

$extra-large: 100px;
$large: 60px;
$medium: 40px;
$small: 20px;
$extra-small: 10px;

@mixin mt-1 {
    margin-top: 20px;
}
@mixin mt-2 {
    margin-top: 40px;
}
@mixin mt-3 {
    margin-top: 60px;
}
@mixin mt-4 {
    margin-top: 80px;
}
@mixin mt-5 {
    margin-top: 100px;
}