@import 'library';

.state-ctnr {
    @include fade-in;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.state-list {
    width: 80%;
    // google map exists: 40%, smaller fonts

    li {
        font-size: large;
        line-height: 4;
    }
}
// .info-modal {
//     padding: 0 10px;
// }