@import 'reset';
@import 'App';
@import 'Antd';
// TODO: antd less file customize color
@import 'Chat';
@import 'Swiper';

body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

